body{
  font-family: 'open-sans'
}

a{
  margin-right: 10px;
  margin-left: 210px;
  font-size: 20px;
  text-decoration: none;
  font-family: 'open-sans';
  font-weight: bold;
  letter-spacing: 1px;
  color:rgb(212, 211, 211)
}

a:hover{
  opacity: .3;
}

footer{
  padding:1% 0 1% 0;
  margin-top: 0;
  background-color: black;
}

.footer-text{
  margin-left: 41.5%;
  font-size: 1.5rem;
  color: rgb(211, 209, 209)
}

/*
===============================
            FONTS
==============================
*/
  
@font-face{
  font-family: 'open-sans';
  src: url(./fonts/open-sans/OpenSans-Regular.ttf) format('truetype');
}


@font-face{
  font-family: 'roboto';
  src: url(./fonts/roboto/Roboto-Regular.ttf) format('truetype');
}

/*
========================
      KEYFRAMES
========================
*/

@keyframes fade-in{
  0% {opacity: 0;};
  100% {opacity: 1;}
}

@keyframes slide-in-left{
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}


@keyframes slide-in-right{
  0% {transform: translatex(100%);}
100% {transform: translatex(0);}
}

@keyframes slide-down{
  0% {transform: translatey(-200%);}
  100% {transform: translatey(0);}
}

@keyframes point-down-arrow{
  0% {transform: translatey(-50%);}
  50%{transform: translateY(10%)}
  100%{transform: translateY(0%)}
  100%{transform: translateY(-50%)}
  
}


/*
=============================
          NAVBAR
=============================
*/

.navbar{
  display: inline-block;
  position: fixed;
  margin-left: 0;
  margin-top: 0;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background: rgb(27, 27, 27);
  width: 100%;
  border-bottom-style: solid;
  border-color: rgb(51, 51, 255);
}


.home-button{
  color:rgb(51, 51, 255);
}

.contact{
  color: rgb(51, 51, 255);
}




/*
===============================
            HOME
===============================
*/

.home-div{
  background: rgb(27, 27, 27);
  padding-bottom: 10%;
  padding-top: 100px;
  margin-top: 0;
}

.arrow{
  animation: point-down-arrow 3s infinite, fade-in 5s;
  margin-left: 49%;
  margin-top: 2.8%;
  font-size: 60px;
  color: rgb(51, 51, 255);
}

/*
====================================
      GITHUB & RESUME
====================================
*/

.resume{
  display: inline-block;
  margin-top: 7%;
  margin-left: 35%;
  font-size: 30px;
  color: rgb(221, 221, 221);
  animation:fade-in;
  animation-duration: 3s;
}

.github-profile{
  display: inline-block;
  margin-left: 38.2%;
  margin-top: 2%;
  font-size: 30px;
  animation: fade-in;
  animation-duration: 3s;
}


/* 
================================
          HEADERS
================================
 */

.hello-header{
  animation: slide-in-left;
  animation-duration: 3s;
  font-size: 50px;
  margin: 3% 0 0 30%;
  color: rgb(218, 216, 216);
}

.name-header{
  animation: slide-down;
  animation-duration: 2s;
  font-size: 50px;
  margin: -5% 0 0 48%;
  color: rgb(51, 51, 255)
}

.full-stack-header{
  animation: fade-in;
  animation-duration: 4s;
  font-size: 50px;
  margin: 0% 0 0 24%;
  color: rgb(214, 213, 213)
}

/*
=========================
          ABOUT
=========================
*/

.about-container{
  padding-bottom: 16%;
  margin-top: -1.6%;
  letter-spacing: .2px;
}

.about-header{
  margin-left: 43%;
  margin-top:0;
  padding-top: 5%;
  font-size: 70px;
  color:rgb(34, 34, 34);
}

.about-hr{
  height: 3px;
  background-color: rgb(34, 34, 34);
  width:30%;
  margin-left: 35%;
  margin-top: -3%
}

.intro{
  font-size: 1.3rem;
  width: 70%;
  text-align: center;
  margin-left: 15%;
}

.stack-header{
  margin-top: 15%;
  color:rgb(34, 34, 34);
  letter-spacing: 1px;
}

.stack-hr{
  height: 3px;
  background-color: rgb(34, 34, 34);
  width:80%;
  margin-left: 10.5%
}

.tech-stack-ul li{
  border-style: solid;
  border-radius: 15px;
  border-color:rgb(51, 51, 255); 
  color: rgb(29, 29, 29);
  width: 15%;
  list-style: none;
  margin: 1% -4.5% 0 9.5%;
  float: left;
  background-color:rgb(51, 51, 255);
}

/*
============================
          PROJECTS
===========================
*/

.projects-header{
  font-family: 'open-sans';
  margin-left: 48.6%;
  margin-bottom: 0;
  font-size: 70px;
  width:25%; 
  color: rgb(41, 40, 40);
  letter-spacing: 1.2px;
}

.projects-hr{
  margin-left: 43%;
  width: 35%;
  height: 3px;
  background-color: rgb(41, 40, 40);
  margin-top: 3%;
}

.projects-container{
  width:80%;
  text-align: center;
  padding: 1% 20% 5% 0;
  background: lightgray;

}

/*
===========================
          RSVP
===========================
*/

.rsvp-h1{
  font-family: 'open-sans';
  font-size: 60px;
  margin-left: 54%;
  margin-top: 15%;
  width:14%;
  margin-bottom: -1%;
  letter-spacing: 1.5px;
  color:rgb(41, 40, 40);
  text-align: center;
}

.rsvp-hr{
  margin: 3% 0 5% 50.3%;
  width:20%;
  height: 3px;
  background-color: rgb(41, 40, 40);
}

.rsvp-gif{
  margin-left: 22%
}

.rsvp-description{
  margin-left: 23%;
  font-size: 1.2rem;
  font-weight: 500
}

.rsvp-website-link,
.rsvp-github-link{
  color: black
}

.rsvp-website-link{
  margin-left: 25%;
}

.rsvp-github-link{
  margin-left: 2%
}


/*
=================================
            CONTACT
=================================
*/

.contact-container{
  color: black;
  text-align: center;
  font-family: 'open-sans', Georgia, 'Times New Roman', Times, serif;
  margin: 0px 0px 0px 0px;
  background:rgb(22, 22, 22);
  padding: 0 0 5% 0%
}

.contact-header{
  font-family:'open-sans';
  font-size: 80px;
  text-align: center;
  margin:0 0 0 -1.5%;
  line-height: 2.3;
  color: rgb(245, 243, 243);
  background: transparent;
}

.contact-hr{
  margin-bottom: 5%;
  margin-left: 24.5%;
  width:50%;
  height: 3px;
  background-color: white
}

.contact-navbar{
  margin-right: 208px
}

.contact-form{
  background: transparent; 
  box-shadow: 1px 1px 7px inset white;
  margin: 50px 200px 0 200px;
  padding-top: 150px;
  padding-bottom: 150px;
  border-radius: 20px;
  cursor: pointer;
  height:50%
}

.contact-me-input1{
  border-radius: 5px;
  font-size: 1.4rem;
  position: relative;
  left: 123px;
  bottom:75px;
}

.contact-me-input2{
  border-radius: 5px;
  font-size: 1.4rem;
  position: relative;
  right: 120px
}

.contact-me-textarea{
  border-radius: 10px;
  position: relative;
  top:70px;
  left: 85px
}

.contact-reset-button,
.contact-submit-button{
  background: white;
  border-radius: 15px;
  font-size: 2rem;
  border-style: solid;
  border-color: white;
  position: relative;
  top:120px;
  opacity: .9;
  cursor: pointer;
}

.contact-reset-button{
  right:175px

}

.contact-submit-button{
    right: 340px;
}

.contact-me-input1:focus,
.contact-me-input2:focus,
.contact-me-textarea:focus{
  box-shadow: 1px 1px 3px 1px inset blue;
}



/*
=========================================
         FOOTER SOCIAL MEDIA ICONS
=========================================
*/
.github{
  animation: fade-in;
  animation-duration: 6s;
  animation-iteration-count: initial;
  color: rgb(148, 147, 147);
  font-size: 45px;
  opacity: .9;
}

.fa-linkedin-square{
  animation: fade-in;
  animation-duration: 6s;
  animation-iteration-count: initial;
  color: rgb(148, 147, 147);
  font-size: 45px;
  opacity: .9
}


.fa-twitter-square{
  animation: fade-in;
  animation-duration: 6s;
  animation-iteration-count: initial;
  color:   rgb(148, 147, 147);
  opacity: .9;
  border-bottom-style: solid;
  border-radius: 4px;
  border-spacing: 10px;
  border-bottom-style: none;
  font-size: 45px;
}


.fa-google-plus-square{
  animation: fade-in;
  animation-duration: 6s;
  animation-iteration-count: initial;
  color:rgb(148, 147, 147);
  text-align: center;
  border-radius: 7px;
  font-size: 45px;
  opacity: .9;
  padding: 0px 4px 3px 4px;
} 