@import url("Normalize.css");

html, body{
  font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
  }

  .App{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden;
  }

  *{
    box-sizing: border-box;
  }

  p{
    letter-spacing: 1.1px;
  }

  h2{
    letter-spacing: .5px;
  }

  /*
  ========================
        KEYFRAMES
  ========================
  */

  @keyframes slide-in-right{
   0% {transform: translateX(20%);}
   100% {transform: translateX(0);}
  }

  @keyframes slide-in-left{
    0% {transform: translateX(-20%);}
    100% {transform: translateX(0);}
   }

  @keyframes fade-in{
    0% {opacity: 0;};
    100% {opacity: 1;}
  }
  
  /*
  =============================
            NAVBAR
  =============================
  */

  a{
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1.5px;
    color:black;
    transition: .2s;
  }

  a:hover{
    cursor:pointer;
    transform: scale(.9);
    color:rgb(3, 65, 199);
  }

  .navbar{
    display:flex;
    justify-content:space-around;
    position: fixed;
    z-index: 100;
    padding: 4% 0;
    width:100%
  }

  
  /*
  ===============================
              HOME
  ===============================
  */
  
  .home-div{
    background:linear-gradient( rgb(0, 0, 0), rgba(0, 0, 0, .5)),
     url("../src/photos/markus-spiske-qjnAnF0jIGk-unsplash.jpg") center no-repeat;
    background-size: cover;
  }
  
  .resume,
  .github-profile{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: rgb(255, 254, 254) solid 1px;
    color: white;
    background: transparent;
    padding:3%;
    font-size: 30px;
    margin: auto;
  }

  .resume{
    animation: slide-in-right 1.5s;
  }

  .github-profile{
    animation: slide-in-left 1.5s;
  }
  
  /* 
  ================================
           HOME HEADERS
  ================================
   */

  .hello-name-header-container{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .hello-header{
    font-size: 50px;
    color: white;
    margin-right: 1%;
  }
  
  .name-header{
    font-size: 50px;
    color: rgb(0, 53, 168);
    margin-left: 3%;
    vertical-align: top;
  }

 

  .frontEnd-header{
    display: flex;
    justify-content: center;
    animation: fade-in 1.2s;
    font-size: 50px;
    color:white;
    margin-top:0;
  }
  
  /*
  =========================
            ABOUT
  =========================
  */
 
  .about-container{
    line-height: 30px;
    font-weight: 300;
    color: rgb(46, 46, 46);
    margin: 5% auto auto auto;
  }
  

  .about-header{
    font-size: 70px;
    color:  rgb(2, 36, 109);
    text-align: center;
    margin-bottom: 5%;
  }
  
 
  
  .intro{
    font-size: 1.3rem;
    text-align: center;
  }

  
  /*
  ===============================
              STACK
  ===============================
  */

  .tech-container{
    border-radius: 10px;
    border:solid rgb(226, 226, 226) 1px;
    padding-bottom: 5%;
    margin-top: 25%;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
  }

  .stack-header{
    color:rgb(2, 36, 109);
    letter-spacing: 2px;
    margin-top: 20%;
  }

  .techStack-icon{
    margin: 5% 1% 0 1%;
  }

  .react{
    width:48px;
  }

  .express{
    color: rgb(2, 36, 109);
    font-weight: 400;
  }


  /*
  ============================
            PROJECTS
  ===========================
  */
  
  .projects-header{
    font-size: 70px;
    color:  rgb(2, 36, 109);
    letter-spacing: 2px;
  }

  
  .projects-container{
    text-align: center;
  }

  .single-project-container{
      border: solid rgb(226, 226, 226) 1px;
      border-radius: 10px;
      margin: auto;
      padding-bottom: 2%;
      box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
  }
  
  .single-project-h1{
    font-size: 60px;
    letter-spacing: 1.5px;
    color: rgb(44, 44, 44);
    width: 30%;
    margin: auto;
    font-weight: 300;
  }

  .gif{
    border-radius: 10px;
  }

  .project-description{
    font-size: 1.2rem;
    font-weight: 300;
    color:rgb(0, 0, 0);
  }
  
  .github-link,
  .demo-link{
    display: flex;
    justify-content: center;
    border-radius:50px;
    color: rgb(44, 44, 44);
    border: rgb(241, 240, 240) solid .5px;
    margin: auto;
    max-width: 50%;
    font-weight: 100;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  
  .github-link{
    margin-top: 5%;
  }

  
  /*
  =================================
              CONTACT
  =================================
  */

  
  .contact-container{
    text-align: center;
    border-top: solid;
    border-color: rgb(80, 80, 80);
    border-radius: 10% 10% 0 0;
  }
  
  .contact-header{
    font-size: 80px;
    text-align: center;
    color: rgb(2, 36, 109);
    margin-bottom: auto;
  }

  .contact-me-email{
    color: rgb(44, 44, 44);
    font-size: 30px;
  }
  
  
  /*
  =========================================
           FOOTER SOCIAL MEDIA ICONS
  =========================================
  */

  
  footer{
    margin-top: -1%;
    display: flex;
    justify-content: center;
  }
  
  .footer-container{
    padding-top: 2%;
  }

  .footer-text{
    text-align: center;
    margin-bottom: auto;
    font-size: 1.5rem;
    color: white;
  }

  .github{
    font-size: 45px;
    opacity: .9;
  }
  
  .fa-linkedin-square{
    font-size: 45px;
    opacity: .9
  }
  
  
  .fa-twitter-square{
    opacity: .9;
    border-radius: 4px;
    border-spacing: 10px;
    font-size: 45px;
  }
  
  
  .fa-google-plus-square{
    text-align: center;
    border-radius: 7px;
    font-size: 45px;
    opacity: .9;
    padding: 0px 4px 3px 4px;
  } 

  .fa-google-plus-square,
  .fa-twitter-square,
  .github,
  .fa-linkedin-square{
    color:rgb(44, 44, 44);
    margin: auto;
  }

  .footer-text{
    display: flex;
    justify-content: center;
    color: rgb(44, 44, 44);;
  }

  /*
  =====================================
              MEDIA QUERIES
  =====================================
  */

  @media screen and (min-width:1025px){
    
    .navbar{
      padding:1% 0;
      justify-content: left;
    }

    .navbar a{
      margin-left: 2%
    }
  
    /*
    ============================
                HOME
    ============================
    */

    .home-div{
      padding-top: 1%;
      height: 750px;
    }
  
    .hello-header, 
    .name-header{
      font-size: 40px;
      margin-top: -15%;
      letter-spacing: 1.5px;
    }

    .name-header{
      margin-left: 0%;
    }
    
    .frontEnd-header{
      font-size: 30px;
      margin-top: -5%;
      letter-spacing: 1.5px;
    }
  
    .resume, 
    .github-profile{
      font-size: 20px;
      max-width: 25%;
      padding: 1% 0;
      font-weight: bold;
      letter-spacing: 2.5px;
      margin-top: 4%;
    }

    .github-profile{
      margin-top: 4%;
    }
  
  
  /*
  ================================
              ABOUT
  ================================
  */

    .about-header{
      font-size: 50px;
      margin-top: 0;
    }
    
    .intro{
      width: 65%;
      margin: auto;
      text-align: center;
    }

    /*
        STACK
    */

    .stack-header{
      margin-top: 12%;
      margin-bottom: 2%;
      font-size: 50px;
    }

    .tech-container{
      width: 65%;
      margin: 10% auto auto auto;
    }
    
    /*
          PROJECTS
    */

    .projects-header{
      font-size: 50px;
      margin-top: 8%;
    }

    .projects-container{
      padding-bottom: 10%;
    }

    .projects-grid-container{
      display: grid;
      margin: auto;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      margin-top: 5%;
    }
    
    .single-project-container{
      width:65%;
      padding-bottom: 5%;
    }

    .single-project-h1{
      font-size: 40px;
      margin: 10% auto;
      width: 90%
    }

    .gif{
      width:60%;
    }

    .project-description{
      font-size: 19px;
      width: 85%;
      margin: 0 auto 1% auto;
    }

     .github-link,
     .demo-link{
      max-width: 70%;
      padding: 10px ; 
      margin: 3% auto auto auto;
    }

    .github-link{
      margin-top: 7%;
    }


    /*
  ============================
          CONTACT
  ===========================
  */

    .contact-container{
      padding: 0;
    }

    .contact-header{
      font-size: 35px;
      margin-top: 1%;
    }

    .fa-google-plus-square,
    .fa-twitter-square,
    .github,
    .fa-linkedin-square{
      margin-top: 0;
      margin-bottom: 0;
    }


  }

  @media screen and (min-width:1900px){

    .navbar a{
      font-size: 35px;
    }

    p{
      font-size: 35px;
    }

    .home-div{
      height: 1300px;
    }

    .name-header, 
    .hello-header,
    .frontEnd-header{
      font-size: 70px
    }

    .resume,
    .github-profile{
      max-width: 30%;
      font-size: 30px;
    }

    .about-header,
    .projects-header,
    .stack-header,
    .contact-header{
      font-size: 85px;
    }

    .intro{
      line-height: 1.7
    }

   .tech-stack-ul li{
      font-size: 40px;
    }

    .tech-container,
    .single-project-container{
      box-shadow: 40px 40px 10px rgba(0, 0, 0, 0.5);
    }

    .single-project-h1{
      font-size: 75px;
    }

    .project-description{
      font-size: 35px;
    }

    .github-link,
    .demo-link{
      max-width: 55%;
      font-size: 35px;
    }

    .contact-me-email{
      font-size: 50px;
    }
    
  }
  

  @media screen and (max-width:1024px) and (min-width:769px){
  
    .navbar{
      padding: 2% 0
    }

    /*
    ============================
                HOME
    ============================
    */
    
    .home-div{
      padding-top: 1%;
      height: 600px;
    }
  
    .hello-header,
    .name-header{
      font-size: 43px;
      margin-top: -5%;
    }

    .name-header{
      margin-left: .5%;
    }
    
    .frontEnd-header{
      font-size: 38px;
      margin-top: 0;
    }

    .resume,
    .github-profile{
      max-width: 30%;
      padding:1%;
      font-size: 20px;
    }

    .github-profile{
      margin-top: 2%;
    }
  

  /*
  ================================
              ABOUT
  ================================
  */

    .about-header{
      font-size: 35px;
    }

    .intro{
      width: 70%;
      margin: auto;
    }


    /*
        STACK
    */

    .stack-header{
      margin-top: 10%;
      margin-bottom: 2%;
      font-size: 35px;
    }
  

    .tech-container{
      width: 70%;
      margin: 15% auto 18% auto;
    }
    /*
          PROJECTS
    */


    
    .projects-header{
      font-size: 35px;
      margin-top: 10%
    }


    .projects-container{
      padding-bottom: 10%;
    }

    .projects-grid-container{
      display: grid;
      margin: auto;
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      margin-top: 5%;
    }
     
    .single-project-container{
      width: 80%;
      padding-bottom: 8%;
    }

    .single-project-h1{
      font-size: 30px;
      margin: 10% auto;
      width: 90%;
    }

    .gif{
      width: 60%;
    }

    .project-description{
      width: 85%;
      margin: 3% auto;
    }

    .github-link,
    .demo-link{
      font-size: 14px;
      width:100%;
      padding: 2.3%;
    }

    .github-link{
      margin-top: 5%
    }

   
    /*
  ============================
          CONTACT
  ===========================
  */

    .contact-header{
      font-size: 35px;
      margin-top: 3.5%;
    }
  
   }

 
    /*
    =============================
              TABLETS
    =============================
    */

      
    @media screen and (max-width:768px){
   
        /*
        ============================
                    HOME
        ============================
        */
  
        .navbar{
          padding: 2%;
        }
      
        .home-div{
          padding-top: 1%;
          height: 600px;
        }
      
        .hello-header,
        .name-header{
          font-size: 40px;
          margin-top: 0;
        }
  
        .name-header{
          margin-left: .5%
        }
       
        
        .frontEnd-header{
          font-size: 37px;
        }
      
        .resume, 
        .github-profile{
          font-size: 23px;
          max-width: 51%;
          padding: 1.5%;
        }
  
        .github-profile{
          margin-top: 5%;
        }
      
      /*
      ================================
                  ABOUT
      ================================
      */
      
        .about-header{
          font-size: 45px;
        }
  
        .intro{
          width:70%;
          margin: auto;
        }

        .tech-container{
          width: 75%;
          margin: 15% auto 0 auto;
        }
      
        /*
        ==================================
                      PROJECTS
        ==================================
        */
      
        .projects-container{
          padding-top: 1%;
          padding-bottom: 10%;
        }
      
        .projects-header{
          font-size: 40px;
          margin-top: 15%;
        }
      
         
       .single-project-container{
        width: 60%;
        padding-bottom: 4%;
        margin-top: 10%;
        }

        .single-project-h1{
          font-size: 35px;
          margin: 10% auto;
          width: 90%;
        }
      
        .gif{
          width: 70%;
        }
  
        .project-description{
          width:70%;
          margin: 3% auto;
        }
      
        .github-link,
        .demo-link{
          padding: 2%;
          max-width: 70%;
        }

        .github-link{
          margin-top:6%;
        }

        /*
      ============================
              CONTACT
      ===========================
      */
  
        .contact-container{
          padding-top: 1%;
          padding-bottom: 5%;
        }
      
        .contact-header{
          font-size: 40px;
          margin-top: 1.5%;
        }
     }
      
  

  /*
  ====================================
              MEDIAs MOBILE
  ====================================
  */

  
  @media screen and (max-width:479px){
  
    .navbar{
      padding: 4% 0;
    }

    .navbar a{
      font-size: 18px
    }
    
      /*
      ============================
                  HOME
      ============================
      */
    
      .home-div{
        padding-bottom: 45%;
        padding-top: 1%;
        height: 850px
      }
    
      .hello-header,
      .name-header{
        font-size: 29px;
        margin-top: 25%;
        letter-spacing: 1.5px;
      }
      
      .name-header{
        margin-left: 1%;
      }

      .frontEnd-header{
        font-size: 25px;
        letter-spacing: 1.5px;
      }
    
      .resume, 
      .github-profile{
        font-size: 20px;
        max-width: 75%;
        margin-top: 23%;
        padding: 3% 0;
      }

    /*
    ================================
                ABOUT
    ================================
    */
    
      .about-container{
        margin-top: 10%;
      }

      .about-header{
        margin-bottom: 20%;
        font-size: 40px;
      }

      .intro{
        padding:0 8%;
        width: 95%;
      }
    
      .stack-header{
        font-size: 40px;
      }

      .tech-container{
        border-color: rgb(241, 240, 240);
        width: 100%;
        margin-top: 20%
      }
    
      /*
      ==================================
                    PROJECTS
      ==================================
      */
    
      .projects-container{
        padding-top: 10%;
        padding-bottom: 15%;
      }

      .projects-header{
        margin-top: 10%;
        font-size: 35px;
      }
    
    
      /*
      =======================
                RSVP
      =======================
      */
    
      .single-project-container{
        width: 80%;
        padding-bottom: 9%;
        margin-top: 15%;
      }

      .single-project-h1{
        font-size: 30px;
      }

      .gif{
        width: 90%;
      }

      .project-description{
        width:90%;
      }
    
      
      .github-link,
      .demo-link{
        font-size: 17px;
        max-width: 70%;
        padding: 3%;
      }

      .github-link{
        margin-top: 8%;
      }
    
      /*
    ============================
            CONTACT
    ===========================
    */
    
      .contact-header{
        font-size: 30px;
        margin-top: 3%;
        margin-bottom: 5%;
      }
    
      .contact-me-email{
        font-size: 20px;
      }
    
    }
  

  @media(max-width:350px){

      .navbar a{
        font-size: 15px;
      }

      .hello-header,
      .name-header{
        font-size: 25px;
        margin-top: 25%;
        letter-spacing: 1px
      }
      
      .name-header{
        margin-left: 1.3%;
      }

      .frontEnd-header{
        font-size: 21px;
        letter-spacing: 1px;
      }
    
      .resume,
      .github-profile{
        font-size: 19px;
        max-width: 85%;
        margin-top: 20%;
      }

      .projects-header{
        margin-top: 10%;
      }

      .github-link,
      .demo-link{
        padding: 4%;
        font-size: 14px;
      }

      .single-project-h1{
        font-size: 23px;
      }
  }

 
  
   
   
