@import url("Normalize.css");

body{
    font-family: 'open-sans'
  }

  *{
    box-sizing: border-box;
  }
  
  a{
    margin-right: 10px;
    margin-left: 210px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'open-sans';
    font-weight: bold;
    letter-spacing: 1px;
    color:white
  }

  a:hover{
    opacity: .3;
  }
  
  footer{
    padding:1% 0 1% 0;
    margin-top: 0;
    background-color: black;
  }
  
  .footer-text{
    margin-left: 41.5%;
    font-size: 1.5rem;
    color: white
  }
  
  /*
  ===============================
              FONTS
  ==============================
  */
    
  @font-face{
    font-family: 'open-sans';
    src: url(./fonts/open-sans/OpenSans-Regular.ttf) format('truetype');
  }
  
  
  @font-face{
    font-family: 'roboto';
    src: url(./fonts/roboto/Roboto-Regular.ttf) format('truetype');
  }
  
  /*
  ========================
        KEYFRAMES
  ========================
  */
  
  @keyframes fade-in{
    0% {opacity: 0;};
    100% {opacity: 1;}
  }
  
  @keyframes slide-in-left{
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
  }
  
  
  @keyframes slide-in-right{
    0% {transform: translatex(200%);}
  100% {transform: translatex(0);}
  }
  
  @keyframes slide-down{
    0% {transform: translatey(-200%);}
    100% {transform: translatey(0);}
  }
  
  @keyframes point-down-arrow{
    0% {transform: translatey(-50%);}
    50%{transform: translateY(10%)}
    100%{transform: translateY(0%)}
    100%{transform: translateY(-50%)}
    
  }
  
  /*
  =============================================================================
       classes used in components to show or hide text on scroll
  =============================================================================
  */

  .highLight{
    color:rgb(0, 140, 255)
  }

  .hidden{
    display: none;
  }

  .showText{
    animation: slide-in-left;
    animation-duration: 1.5s
  }

  .showText-right{
    animation: slide-in-right;
    animation-duration: 1.5s;
  }

  .fade-in{
    animation: fade-in;
    animation-duration: 4s
  }
  
  /*
  =============================
            NAVBAR
  =============================
  */


  .navbar{
    display: inline-block;
    position: fixed;
    background: rgb(5, 5, 5);
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-color: rgb(0, 140, 255);
    z-index: 100;
  }
  
  
  
  
  /*
  ===============================
              HOME
  ===============================
  */
  
  .home-div{
    background: rgb(5, 5, 5);
    height: 650px
  }
   
  .arrow{
    animation: point-down-arrow 3s infinite, fade-in 5s;
    font-size: 60px;
    color:  rgb(0, 140, 255);
  }

  /*
  ====================================
        GITHUB & RESUME
  ====================================
  */
  
  .resume{
    display: inline-block;
    font-size: 30px;
    color: white;
    animation:fade-in;
    animation-duration: 3s;
  }
  
  .github-profile{
    display: inline-block;
    font-size: 30px;
    animation: fade-in;
    animation-duration: 3s;
    color: white;
  }
  
  
  /* 
  ================================
           HOME HEADERS
  ================================
   */
  
  .hello-header{
    animation: slide-in-left;
    animation-duration: 1.5s;
    font-size: 50px;
    color: white
  }
  
  .name-header{
    animation: slide-down;
    animation-duration: 1s;
    font-size: 50px;
    color: rgb(0, 140, 255);
  }
  
  .full-stack-header{
    animation: fade-in;
    animation-duration: 4s;
    font-size: 50px;
    color: white
  }
  
  /*
  =========================
            ABOUT
  =========================
  */
  
  .about-container{
    letter-spacing: .2px;
  }
  
  .about-header{
    font-size: 70px;
    color:rgb(34, 34, 34);
  }
  
  .about-hr{
    background-color: rgb(34, 34, 34);
  }
  
  .intro{
    font-size: 1.3rem;
    text-align: center;
  }
  
  
  /*
  ===============================
              STACK
  ===============================
  */
  
  .stack-header{
    color:rgb(34, 34, 34);
    letter-spacing: 1px;
  }
  
  .stack-hr{
    height: 3px;
    background-color: rgb(34, 34, 34);
  }
  
  .tech-stack-ul li{
    border-style: solid;
    border-radius: 15px;
    border-color:rgb(0, 125, 255);
    color: white;
    list-style: none;
    float: left;
    background-color:rgb(0, 140, 255);
  }
  
  /*
  ============================
            PROJECTS
  ===========================
  */
  
  .projects-header{
    font-family: 'open-sans';
    font-size: 70px;
    color: rgb(41, 40, 40);
    letter-spacing: 1.2px;
  }
  
  .projects-hr{
    background-color: rgb(41, 40, 40);
  }
  
  .projects-container{
    text-align: center;
    background: rgb(247, 247, 247);
  }
  
  /*
  ===========================
            RSVP
  ===========================
  */
  
  .rsvp-h1{
    font-family: 'open-sans';
    font-size: 60px;
    letter-spacing: 1.5px;
    color:rgb(41, 40, 40);
    text-align: center;
  }
  
  .rsvp-hr{
    background-color: rgb(43, 42, 42);
  }
  
  .rsvp-description{
    font-size: 1.2rem;
    font-weight: 500
  }
  
  .rsvp-website-link,
  .rsvp-github-link{
    color: black
  }
  
  
  
  /*
  =================================
              CONTACT
  =================================
  */
  
  .contact-container{
    color: black;
    text-align: center;
    font-family: 'open-sans', Georgia, 'Times New Roman', Times, serif;
    background:rgb(5, 5, 5);
  }
  
  .contact-header{
    font-family:'open-sans';
    font-size: 80px;
    text-align: center;
    color: rgb(245, 245, 245);
    background: transparent;
  }
  
  .contact-hr{
    margin-bottom: 5%;
    margin-left: 24.5%;
    width:50%;
    height: 3px;
    background-color: white
  }
  
  
  .contact-form{
    background: transparent;
    cursor: pointer;
    height:50%
  }
  
  .contact-me-input1{
    border-radius: 5px;
    font-size: 1.4rem;
    position: relative;
  }
  
  .contact-me-input2{
    border-radius: 5px;
    font-size: 1.4rem;
    position: relative;
  }
  
  .contact-me-textarea{
    border-radius: 10px;
    position: relative;
  }
  
  .contact-reset-button,
  .contact-submit-button{
    background: white;
    border-radius: 15px;
    font-size: 2rem;
    border-style: solid;
    border-color: white;
    position: relative;
    top:120px;
    opacity: .9;
    cursor: pointer;
  }
  
  .contact-reset-button{
    right:175px
  
  }
  
  .contact-submit-button{
      right: 340px;
  }
  
  .contact-me-input1:focus,
  .contact-me-input2:focus,
  .contact-me-textarea:focus{
    box-shadow: 1px 1px 3px 1px inset blue;
  }
  
  
  
  /*
  =========================================
           FOOTER SOCIAL MEDIA ICONS
  =========================================
  */
  .github{
    animation: fade-in;
    animation-duration: 6s;
    animation-iteration-count: initial;
    color: rgb(148, 147, 147);
    font-size: 45px;
    opacity: .9;
  }
  
  .fa-linkedin-square{
    animation: fade-in;
    animation-duration: 6s;
    animation-iteration-count: initial;
    color: rgb(148, 147, 147);
    font-size: 45px;
    opacity: .9
  }
  
  
  .fa-twitter-square{
    animation: fade-in;
    animation-duration: 6s;
    animation-iteration-count: initial;
    color:   rgb(148, 147, 147);
    opacity: .9;
    border-bottom-style: solid;
    border-radius: 4px;
    border-spacing: 10px;
    border-bottom-style: none;
    font-size: 45px;
  }
  
  
  .fa-google-plus-square{
    animation: fade-in;
    animation-duration: 6s;
    animation-iteration-count: initial;
    color:rgb(148, 147, 147);
    text-align: center;
    border-radius: 7px;
    font-size: 45px;
    opacity: .9;
    padding: 0px 4px 3px 4px;
  } 
  
  @media(max-width:330px){
    .navbar a{
      margin-left: 6.25%
    }

    .hello-header{
      position: relative;
      right:5px;
    }
  
    .name-header{
      position: relative;
      top:-2px;
    }
    
    .full-stack-header{
      position: relative;
      right: 4px;
    }
  
    .resume{
      position: relative;
      right:5px;
    }
  
    .github-profile{
      position: relative;
      right:5px
    }

    /*
    ===================
          ABOUT
    ===================
    */
    .about-header{
      position: relative;
      right: 3px
    }

    /*
    =======================
            FOOTER
    ========================
    */

    .github,
    .fa-twitter-square,
    .fa-linkedin-square{
      position: relative;
      right:6px;
    }

    .footer-text{
      position: relative;
      right:5px;
    }

  
  }
  @media(max-width:350px){

    .App
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    a{
      margin:0 -2% 0 7.5%;
      font-size: 18px;
    }
  
    .navbar a{
      position: relative;
      right:7px;
    }

    .navbar{
      padding: 4% 0 4% 0;
      width:100%
    }
    
    /*
    ============================
                HOME
    ============================
    */
  
    .home-div{
      padding: 1% 0% 30% 0%;
      margin-top: 0;
    }
  
    .hello-header,
    .name-header{
      font-size: 24px;
    }
  
    .hello-header{
      margin: 35% 0 0 11%
    }
  
    .name-header{
      margin:-8.3% 0 0 44.3%
    }
    
    .full-stack-header{
      margin:5% 0 0 17.5%;
      font-size: 22px
    }
  
    .resume{
      margin:15% 0 0 12.5%;
      font-size: 18px;
      font-size: 18px;
    }
  
    .github-profile{
      font-size: 18px;
      margin:8% 0 0 20.5%
    }
  
    .arrow{
      margin:15% 0 0 25%
    }
  
  /*
  ================================
              ABOUT
  ================================
  */
  
    .about-container{
      padding-bottom: 80%;
      width: 95%
    }

    .about-header{
      margin:15% 0 10% 22.5%
    }
  
    .about-hr{
      margin: -10% 0 15% 10%;
      width: 85%
    }
    
    .intro{
      margin-left: 5%
    }
  
    .tech-stack-ul li{
      width: 45%;
      margin: 1% 9.1% 0 -6.7%;
      position: relative;
      left:10px;
    }
  
  
    /*
    ==================================
                  PROJECTS
    ==================================
    */
  
    .projects-container{
      padding: 15% 0 35% 0;
    }

    .projects-header{
      margin:0 0 5% 0;
    }
  
    .projects-hr{
      width: 92%;
      margin:2% 0 0 4%;
      background-color: black;
    }
  
    /*
    =======================
              RSVP
    =======================
    */
  
    .rsvp-h1{
      margin: 30% 0 0 0;
    }
  
    .rsvp-hr{
      width: 60%;
      margin:0 0 10% 19%;
      background-color: black
    }
  
    .rsvp-gif{
      width: 95%;
      margin:0 0 0 0
    }
  
    .rsvp-description{
      width:90%;
      margin-left: 5%
    }

    .rsvp-github-link{
      margin:0 0 0 -15%;
      font-size: 20px;
      position: relative;
      left:30px; 
      top:60px
    }
  
    .rsvp-website-link{
      margin:0;
      font-size: 20px;
      position: relative;
      top:10px;
      left:0
    }

    /*
  ============================
          CONTACT
  ===========================
  */
    
    .contact-container{
      margin-top: -1px;
      padding-top: 5%
    }
    
    .contact-header{
      font-size: 50px;
    }
  
    .contact-hr{
      width:90%;
      margin:-5% 0 0 5%
    }
  
    .contact-form{
      margin:20% 0 0 0;
      padding: 0 0 30% 0
    }
  
    .contact-me-input1{
      margin:0 0 0 2%;
      width:70%;
      padding:5px;
    }
  
    .contact-me-input2{
      margin:0 0 0 2%;
      position: relative;
      top:20px;
      width:70%;
      padding:5px;
    }
  
    .contact-me-textarea{
      margin:0 0 0 1.8%;
      position: relative;
      width:70%;
      top:50px;
    }
  
    .contact-submit-button{
      margin:0 0 0 0%;
      top:60px;
      left:0;
      padding: .2% 3%;
    }
  
    .contact-reset-button{
      margin:0% 0 10% 0;
      top:60px;
      left:5px
    }
  
    /*
    =======================
            FOOTER
    =======================
    */
  

    .github{
      margin-left: 16%
    }
    
    .fa-linkedin-square{
      margin-left: 16%
    }
    
    
    .fa-twitter-square{
      margin-left: 17%
    }
    
    
    .fa-google-plus-square{
      margin-left: 4%
    } 
  
    .footer-text{
     margin-left: 26%
    }
  
  
  }

  @media(max-width:361px) and (min-width:351px){
    .navbar a{
      position: relative;
      right: 5px;
    }

   
    .rsvp-website-link{
      position: relative;
      margin:0;
      left:78px;
    }

    .rsvp-github-link{
      left:0;
      display: block;
    }

  }

  @media(max-width:386px) and (min-width:362px){

      .rsvp-github-link{
        margin:0;
        left:0px;
        right:0
      }
  
      .rsvp-website-link{
        margin:0;
      }

      .website-div-rsvp{
        margin:0 0 -10% 0%;
        position: relative;
        left:80px
      }
      
  }


  @media(max-width:400px) and (min-width:351px){
    
    .App
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    .navbar{
      width:100%;
      padding: 4% 0
    }

    .navbar a{
      margin:0 0 0 5%;
    }
    /*
    =========================
              HOME
    =========================
    */

    .home-div{
      padding: 1% 0 12% 0;
    }
    
    .hello-header,
    .name-header{
      font-size: 25px;
    }
    
    .hello-header{
      margin: 30% 0 0 12%
    }

    .name-header{
      margin:-7.7% 0 0 44%;
     
    }

    .full-stack-header{
      font-size: 25px;
      margin:8% 0 0 16%;
    }

    .resume{
      font-size: 20px;
      margin:15% 0 0 12%
    }
    
    .github-profile{
      font-size: 20px;
      margin:7% 0 0 20%;
    }

    .arrow{
      margin:30% 0 0 25%;
    }

    /*
    ====================== 
            ABOUT
    ======================
    */

    .about-container{
      width:90%;
      padding-bottom: 80%
    }

    .about-header{
      margin:10% 0 5% 25%
    }

    .about-hr{
      width:85%;
      margin-left: 12.5%
    }

    .intro{
      margin:0 0 0 10%
    }

    .tech-stack-ul li{
      width: 45%;
      margin: 1% 9.1% 0 -6.7%;
    }
  
    /*
    ================================
              PROJECTS
    ================================
    */

    .projects-container{
      padding-top: 2%;
      padding-bottom: 35%;
    }

    .projects-header{
      margin-bottom: 5%;
    }

    .projects-hr{
      width:90%;
      background-color: black;
      margin-bottom: 25%;
    }

    .rsvp-h1{
      margin-bottom: 5%;
    }

    .rsvp-hr{
      width:55%;
      background-color: black;
      margin-bottom: 15%;
    }

    .rsvp-gif{
      width: 90%
    }

    .rsvp-description{
      width: 90%;
      margin-left: 5%;
    }

    .website-div-rsvp{
      margin-right: 45%;
      margin-top: 10%;
    }

    .rsvp-github-link{
      margin: 0;
      position: relative;
      display: block;
      top:70px;
      right:90px
    }
    

    /*
    =========================
            CONTACT
    ========================
    */

    .contact-container{
      padding-top: 1%;
      padding-bottom: 15%;
    }

    .contact-header{
      font-size: 60px;
      margin-bottom: 0;
    }

    .contact-me-input1,
    .contact-me-input2{
      margin-top: 10%;
      padding:5px
    }

    .contact-me-textarea{
      width:75%;
      margin-left: 1%;
      margin-top: 10%;
    }

    .contact-submit-button{
      margin:0;
      position: relative;
      left:-20px;
      top:5px;
      padding:.4% 3%;
    }

    .contact-reset-button{
      margin:0;
      position: relative;
      left:23px;
      top:5px;
      right:0
    }

    /*
    ========================
            FOOTER
    =======================
    */

    .footer-text{
      margin:10% 0 5% 26.5%
    }

    .fa-google-plus-square{
      margin:0 0 0 4%
    }

    .github{
      margin:0 0 0 15%;
    }

    .fa-linkedin-square{
      margin:0 0 0 15%;
    }

    .fa-twitter-square{
      margin:0 0 0 15%;
    }

  }


  @media(max-width:401px) and (min-width:387px){
  
    a{
      margin:0 0 0 6.75%
    }
  
    .navbar{
      padding: 4% 0 4% 0;
      width:100%
    }

    /*
    ===============
          HOME
    ===============
    */

    .hello-header,
    .name-header{
      font-size: 30px;
    }

    .hello-header{
      margin-left:10%;
    }

    .name-header{
      margin-left: 45.5%;
      margin-top: -9%
    }
  
    .full-stack-header{
      margin:8% 0 0 16%;
      font-size: 28px;
    }

    .resume{
      margin:10% 0 0 15%;
      font-size: 20px;
    }
  
    .github-profile{
      margin:10% 0 0 22%;
      font-size: 20px
    }

    /*
        =========
          STACK
        =========
    */

    .tech-stack-ul li{
      width: 45%;
      margin: 1% 9.1% 0 -6.7%;
      position: relative;
      left:13px;
    }

    /*
    ========================
              RSVP
    ========================
    */
    .website-div-rsvp{
      margin-right:10%;
      margin-bottom: -5%;
    }

    .github-div-rsvp{
      margin-left: 44%;
    }

  }

  @media(max-width:415px) and (min-width:402px){
    
    .navbar a{
      margin-left: 6.25%
    }
  
    .hello-header{
      position: relative;
      right: 5px
    }
  
    .name-header{
      position: relative;
      top:5px
    }
    
    .full-stack-header{
      position: relative;
      right: 3px;
    }
  
    .resume{
      position: relative;
      right:1px
    }

    .github-profile{
      position: relative;
      right: 2px;
    }

    /*
    =====================
          ABOUT
    =====================
    */
    .about-header{
      position: relative;
      right: 5px;
    }


    /*
    ====================
            RSVP
    ====================
    */

    .rsvp-github-link{
      position: relative;
      left:60px;
    }

    .website-div-rsvp{
      margin:0 0 -10% -16.5%
    }

    /*
    ======================
           FOOTER
    =====================
    */

    .fa-google-plus-square{
      position: relative;
      right:5px;
    }

    .github{
      position: relative;
      right: 7px;
    }

    .fa-linkedin-square{
      position: relative;
      right: 7px;
    }

    .fa-twitter-square{
      position: relative;
      right: 7px;
    }

    .footer-text{
      position: relative;
      right: 9px;
    }

  }


  @media(max-width:479px) and (min-width:401px){
    .App
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    
      a{
        margin:0 0 0 6.75%
      }
    
      .navbar{
        padding: 4% 0 4% 0;
        width:100%
      }
    
    
      /*
      ============================
                  HOME
      ============================
      */
    
      .home-div{
        padding-bottom: 45%;
        padding-top: 1%;
        height: 850px
      }
    
      .hello-header,
      .name-header{
        font-size: 32px;
      }
    
      .hello-header{
        margin: 45% 0 0 7.5%
      }
    
      .name-header{
        margin:-10.5% 0 0 44.3%
      }
      
      .full-stack-header{
        margin:8% 0 0 14%;
        font-size: 31px;
      }
    
      .resume{
        margin:10% 0 0 12%;
        font-size: 23px;
      }
    
      .github-profile{
        margin:10% 0 0 19.5%;
        font-size: 23px
      }
    
      .arrow{
        margin:20% 0 0 25%;
        font-size: 90px;
      }
    
    /*
    ================================
                ABOUT
    ================================
    */
    
      .about-container{
        padding-bottom: 80%
      }
    
      .about-header{
        margin:15% 0 10% 27%
      }
    
      .about-hr{
        margin: -10% 0 15% 15%;
        width: 70%
      }

      .intro{
        width:90%;
        margin-left: 5%
      }
    
      .tech-stack-ul li{
        width: 45%;
        margin: 1% 9.1% 0 -6.7%;
        position: relative;
        left:15px;
      }
    
    
      /*
      ==================================
                    PROJECTS
      ==================================
      */
    
      .projects-container{
        padding-top: 10%;
        padding-bottom: 30%;
      }
    
      .projects-header{
        margin:0;
      }
    
      .projects-hr{
        width: 80%;
        margin:2% 0 0 9%
      }
    
      /*
      =======================
                RSVP
      =======================
      */
    
      .rsvp-h1{
        margin: 30% 0 0 0;
      }
    
      .rsvp-hr{
        width: 50%;
        margin:0 0 10% 24%
      }
    
      .rsvp-gif{
        width: 90%;
        margin:0;
      }

      .rsvp-description{
        width:90%;
        margin-left: 5%;
      }
    
      .rsvp-github-link{
        margin:0 0 0 -30%;
        font-size: 20px;
        position: relative;
        right:45px;
        top:20px
      }
    
      .rsvp-website-link{
        margin:0 0 0 9%;
        font-size: 20px;
        position: relative;
        top:70px;
        left:8px
      }
    
      /*
    ============================
            CONTACT
    ===========================
    */

      .contact-container{
        padding-top: 1%;
        padding-bottom: 5%;
      }
    
      .contact-header{
        font-size: 50px;
        margin-top: 15%;
      }
    
      .contact-hr{
        width:90%;
        margin:-5% 0 0 5%
      }
    
      .contact-form{
        margin:20% 0 0 0;
      }
    
      .contact-me-input1{
        margin:0 0 0 0;
        padding:5px
      }
    
      .contact-me-input2{
        margin:5% 0 0 0;
        padding:5px
      }
    
      .contact-me-textarea{
        margin:5% 0 0 0;
        width:70%;
      }
    
      .contact-submit-button{
        margin:0 0 0 70%;
        right:70px;
        top:20px;
        padding: .2% 3%
      }
    
      .contact-reset-button{
        margin:0;
        top:-20.5px;
        right:80px
      }
    
      /*
      =======================
              FOOTER
      =======================
      */
    
      .github{
        margin-left: 16%
      }
      
      .fa-linkedin-square{
        margin-left: 19%
      }
      
      
      .fa-twitter-square{
        margin-left: 18%
      }
      
      
      .fa-google-plus-square{
        margin-left: 4%
      } 
    
      .footer-text{
       margin-left: 30%
      }
    
    
    }


    @media(max-width:479px) and (min-width:416px){

      .rsvp-github-link{
        margin:0;
        left:-2px;
        right:0
      }
  
      .website-div-rsvp{
        margin:0 0 -10% -17%;
      }
      
      .name-header{
        margin:-9.5% 0 0 44.3%
        
      }

    }

    @media(max-width:479px) and (min-width:425px){
      .name-header{
        margin:-8.5% 0 0 44.3%
      }
    }




    /*
    =============================
              TABLETS
    =============================
    */



   @media(min-width:768px){
    .App
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    
      a{
        margin:0 0 0 12.25%
      }
    
      .navbar{
        padding: 4% 0 4% 0;
        width:100%
      }
    
      /*
        =======================
          HIDE AND SHOW TEXT
        =======================
      */

      .hidden{
        display: none;
      }

      .showText{
        animation: slide-in-left;
        animation-duration: 2s
      }

    
      /*
      ============================
                  HOME
      ============================
      */
    
      .home-div{
        padding-bottom: 40%;
        padding-top: 1%
      }
    
      .hello-header,
      .name-header{
        font-size: 50px;
      }
    
      .hello-header{
        margin: 13% 0 0 13.5%
      }
    
      .name-header{
        margin:-8% 0 0 44.3%
      }
      
      .full-stack-header{
        margin:8% 0 0 30%;
        font-size: 31px;
      }
    
      .resume{
        margin:4% 0 0 29%;
        font-size: 23px;
      }
    
      .github-profile{
        margin:4% 0 0 33.3%;
        font-size: 23px
      }
    
      .arrow{
        margin:5% 0 0 25%;
        font-size: 90px;
      }
    
    /*
    ================================
                ABOUT
    ================================
    */
    
      .about-container{
        padding-bottom: 40%
      }
    
      .about-header{
        margin:15% 0 10% 36.5%
      }
    
      .about-hr{
        margin: -10% 0 15% 29.4%;
        width: 40%
      }

      .intro{
        width:90%;
        margin-left: 5%
      }
    
      .tech-stack-ul li{
        width: 45%;
        margin: 1% 9.1% 0 -4.2%;
        position: relative;
        left:15px;
      }
    
    
      /*
      ==================================
                    PROJECTS
      ==================================
      */
    
      .projects-container{
        padding-top: 10%;
        padding-bottom: 30%;
      }
    
      .projects-header{
        margin:0;
      }
    
      .projects-hr{
        width: 50%;
        margin:2% 0 0 24.5%
      }
    
      /*
      =======================
                RSVP
      =======================
      */
    
      .rsvp-h1{
        margin: 10% 0 0 0;
      }
    
      .rsvp-hr{
        width: 35%;
        margin:0 0 10% 32%
      }
    
      .rsvp-gif{
        width: 90%;
        margin:0;
      }

      .rsvp-description{
        width:90%;
        margin-left: 5%;
      }
    
      .rsvp-github-link{
        margin:0 0 0 -30%;
        font-size: 20px;
        position: relative;
        right:30px;
        top:20px
      }
    
      .rsvp-website-link{
        margin:0 0 0 9%;
        font-size: 20px;
        position: relative;
        top:43px;
        left:120px
      }
    
      /*
    ============================
            CONTACT
    ===========================
    */

      .contact-container{
        padding-top: 1%;
        padding-bottom: 10%;
      }
    
      .contact-header{
        font-size: 50px;
        margin-top: 15%;
      }
    
      .contact-hr{
        width:50%;
        margin:-5% 0 0 25%
      }
    
      .contact-form{
        margin:20% 0 0 0;
      }
    
      .contact-me-input1{
        margin:0 2% 0 0;
        padding:5px;
      }
    
      .contact-me-input2{
        margin:5% 0 0 0;
        padding:5px;
      }
    
      .contact-me-textarea{
        margin:5% 0 0 13.7%;
        width:70%;
      }
    
      .contact-submit-button{
        margin:0 0 0 0%;
        right:200px;
        top:55px;
        padding: .2% 3%
      }
    
      .contact-reset-button{
        margin:0;
        top:10px;
        right:150px;
        padding:.3% 3%
      }
    
      /*
      =======================
              FOOTER
      =======================
      */
    
      .github{
        margin-left: 16%
      }
      
      .fa-linkedin-square{
        margin-left: 19%
      }
      
      
      .fa-twitter-square{
        margin-left: 18%
      }
      
      
      .fa-google-plus-square{
        margin-left: 12%
      } 
    
      .footer-text{
       margin-left: 38%
      }

   }
    

   @media(min-width:1024px){
    a{
      margin:0 0 0 14.8%
    }
  
    .navbar{
      padding: 1% 0 1% 0;
      width:100%
    }
  
  
    /*
    ============================
                HOME
    ============================
    */
  
  
    .hello-header{
      margin: 8% 0 0 29%;
      font-size: 43px;
    }
  
    .name-header{
      margin:-4.7% 0 0 48.3%;
      font-size: 43px;
    }
    
    .full-stack-header{
      margin:3% 0 0% 33%;
      font-size: 38px;
    }
  
    .resume{
      margin:4% 0 0 35.5%;
      font-size: 23px;
    }
  
    .github-profile{
      margin:4% 0 0 38.5%;
      font-size: 23px
    }
  
    .arrow{
      margin:5% 0 0 27%;
      font-size: 90px;
    }
  
  /*
  ================================
              ABOUT
  ================================
  */
  
    .about-container{
      padding-bottom: 30%
    }
  
    .about-header{
      margin:9% 0 0 39.5%;
    }
  
    .about-hr{
      margin: 0% 0 5% 29.4%;
      width: 40%
    }

    /*
        STACK
    */

    .stack-header{
      margin-top: 12%;
      margin-bottom: 2%;
    }

    .tech-stack-ul li{
      width: 45%;
      margin: 1% 9.1% 0 -4.1%;
      position: relative;
      left:36px;
    }
  
    /*
          PROJECTS
    */

    .projects-container{
      padding-bottom: 10%
    }

    /*
  ============================
          CONTACT
  ===========================
  */

    .contact-header{
      font-size: 50px;
      margin-top: 10%;
    }
  
    .contact-hr{
      width:50%;
      margin:0% 0 -15% 25%
    }
  
    .contact-submit-button{
      margin:0 0 0 0%;
      right:205px;
      top:55px;
      padding: .2% 3%
    }
  
    .contact-reset-button{
      margin:0;
      top:10px;
      right:220px;
      padding:.3% 3%
    }
  
    /*
    =======================
            FOOTER
    =======================
    */
    
    .fa-google-plus-square{
      margin-left: 15%
    } 
  
    .footer-text{
     margin-left: 41%
    }
   }




    /*
   ==========================================
             SMALLER LAPTOP AND PC
    =========================================
    */




   @media(min-width:1200px){
  
  
    /*
    ============================
                HOME
    ============================
    */
  
  
    .hello-header{
      margin: 8% 0 0 30%;
      font-size: 47px;
    }
  
    .name-header{
      margin:-4.7% 0 0 48.3%;
      font-size: 47px;
    }
    
    .full-stack-header{
      margin:3% 0 0% 33%;
      font-size: 38px;
    }
  
    .resume{
      margin:4% 0 0 35.5%;
      font-size: 23px;
    }
  
    .github-profile{
      margin:4% 0 0 38.5%;
      font-size: 23px
    }
  
    .arrow{
      margin:5% 0 0 27%;
      font-size: 90px;
    }
  
  /*
  ================================
              ABOUT
  ================================
  */
  
    .about-container{
      padding-bottom: 30%
    }
  
    .about-header{
      margin:9% 0 0 40.5%;
    }
  
    .about-hr{
      margin: 0% 0 5% 33.4%;
      width: 30%
    }

    /*
        STACK
    */

    .stack-header{
      margin-top: 12%;
      margin-bottom: 2%;
      left:50px;
    }

    .tech-stack-ul li{
      width: 45%;
      margin: 1% 9.1% 0 -4.1%;
      position: relative;
      left:36px;
    }
  
    /*
          PROJECTS
    */

    .projects-container{
      padding-bottom: 10%
    }

    /*
  ============================
          CONTACT
  ===========================
  */

    .contact-header{
      font-size: 50px;
      margin-top: 10%;
    }
  
    .contact-hr{
      width:50%;
      margin:0% 0 -15% 25%
    }
  
    .contact-submit-button{
      margin:0 0 0 0%;
      right:265px;
      top:55px;
      padding: .2% 3%
    }
  
    .contact-reset-button{
      margin:0;
      top:10px;
      right:220px;
      padding:.3% 3%
    }
  
    /*
    =======================
            FOOTER
    =======================
    */
    
    .fa-google-plus-square{
      margin-left: 15%
    } 
  
    .footer-text{
     margin-left: 41%
    }
   }

   @media(min-width:1300px){
     
    /*
    ============================
                HOME
    ============================
    */
  
  
    .hello-header{
      margin: 8% 0 0 30%;
      font-size: 47px;
    }
  
    .name-header{
      margin:-4.4% 0 0 47%;
      font-size: 47px;
    }
    
    .full-stack-header{
      margin:3% 0 0% 35.5%;
      font-size: 38px;
    }
  
    .resume{
      margin:4% 0 0 37.5%;
      font-size: 23px;
    }
  
    .github-profile{
      margin:4% 0 0 40%;
      font-size: 23px
    }
  
    .arrow{
      margin:5% 0 0 27.3%;
      font-size: 90px;
    }

    /*  CONTACT */
    .contact-submit-button{
      margin:0 0 0 0%;
      right:305px;
      top:55px;
      padding: .2% 3%
    }
  
   }





   /*
   ==================================
              LAPTOP AND PC
    =================================
    */

   @media(min-width:1440px){

    a{
      margin:0 0 0 15.8%
    }

     /*
    ============================
                HOME
    ============================
    */
  
  
    .hello-header{
      margin: 5% 0 0 28.3%;
      font-size: 60px;
    }
  
    .name-header{
      margin:-5.1% 0 0 48.3%;
      font-size: 60px;
    }
    
    .full-stack-header{
      margin:3% 0 0% 34%;
      font-size: 50px;
    }
  
    .resume{
      margin:4% 0 0 39.7%;
      font-size: 23px;
    }
  
    .github-profile{
      margin:4% 0 0 42%;
      font-size: 23px
    }
  
    .arrow{
      margin:5% 0 0 28%;
      font-size: 90px;
    }
  
  /*
  ================================
              ABOUT
  ================================
  */
  
  
    .about-header{
      margin:9% 0 0 41.5%;
    }
  
    .about-hr{
      margin: 0% 0 5% 33.4%;
      width: 30%
    }

    /*
        STACK
    */


    .tech-stack-ul li{
      width: 45%;
      margin: 1% 9.1% 0 -4.1%;
      position: relative;
      left:55px;
    }
  
    /*
          PROJECTS
    */

    .rsvp-website-link{
      left:165px;
    }

    /*
  ============================
          CONTACT
  ===========================
  */

  
    .contact-submit-button{
      margin:0 0 0 0%;
      right:350px;
      top:55px;
      padding: .2% 3%
    }
  
    .contact-reset-button{
      margin:0;
      top:10px;
      right:220px;
      padding:.3% 3%
    }
  
    /*
    =======================
            FOOTER
    =======================
    */
    
    .fa-google-plus-square{
      margin-left: 8%
    } 
    
    .github{
       margin:0 0 0 25%
    }

    .fa-linkedin-square{
      margin:0 0 0 25%
    }

    .fa-twitter-square{
      margin:0 0 0 21%
    }

    .footer-text{
     margin-left: 45%
    }
   }


   @media(min-width:1600px){
    a{
      margin:0 0 0 16.5%
    }
  
     /*
    ============================
                HOME
    ============================
    */
  
  
    .hello-header{
      margin: 5% 0 0 30.3%;
      font-size: 60px;
    }
  
    .name-header{
      margin:-4.7% 0 0 48.3%;
      font-size: 60px;
    }
    
    .full-stack-header{
      margin:3% 0 0% 35.5%;
      font-size: 50px;
    }
  
    .resume{
      margin:4% 0 0 40.7%;
      font-size: 23px;
    }
  
    .github-profile{
      margin:4% 0 0 43%;
      font-size: 23px
    }
  
    .arrow{
      margin:5% 0 0 28.5%;
      font-size: 90px;
    }
  
  /*
  ================================
              ABOUT
  ================================
  */
  
  
    .about-header{
      margin:9% 0 0 44.5%;
    }
  
    .about-hr{
      margin: 0% 0 5% 35.4%;
      width: 30%
    }

    /*
        STACK
    */


    .tech-stack-ul li{
      width: 45%;
      margin: 1% 9.1% 0 -4.1%;
      position: relative;
      left:55px;
    }
  
    /*
          PROJECTS
    */

    .rsvp-website-link{
      left:165px;
      font-size: 35px
    }

    .rsvp-github-link{
      font-size: 35px;
      top:4px;
    }

    .rsvp-description{
      font-size: 28px;
    }

    /*
  ============================
          CONTACT
  ===========================
  */

  
    .contact-submit-button{
      margin:0 0 0 0%;
      right:350px;
      top:55px;
      padding: .2% 3%
    }
  
    .contact-reset-button{
      margin:0;
      top:10px;
      right:220px;
      padding:.3% 3%
    }
  
    /*
    =======================
            FOOTER
    =======================
    */
    
    .fa-google-plus-square{
      margin-left: 8%
    } 
    
    .github{
       margin:0 0 0 25%
    }

    .fa-linkedin-square{
      margin:0 0 0 25%
    }

    .fa-twitter-square{
      margin:0 0 0 21%
    }

    .footer-text{
     margin-left: 45%
    }
   }


   @media(min-width:1800px){
      a{
        margin:0 0 0 16.5%
      }
    
       /*
      ============================
                  HOME
      ============================
      */
    
    
      .hello-header{
        margin: 4% 0 0 31.3%;
        font-size: 60px;
      }
    
      .name-header{
        margin:-4% 0 0 48.3%;
        font-size: 60px;
      }
      
      .full-stack-header{
        margin:3% 0 0% 36.5%;
        font-size: 50px;
      }
    
      .resume{
        margin:4% 0 0 38.7%;
        font-size: 30px;
      }
    
      .github-profile{
        margin:4% 0 0 41%;
        font-size: 30px
      }
    
      .arrow{
        margin:5% 0 0 28%;
        font-size: 90px;
      }
    
    /*
    ================================
                ABOUT
    ================================
    */
    
    
      .about-header{
        margin:9% 0 0 44.5%;
      }
    
      .about-hr{
        margin: 0% 0 5% 35.4%;
        width: 30%
      }

      .intro{
        font-size: 35px
      }
  
      /*
          STACK
      */
  
  
      .tech-stack-ul li{
        width: 45%;
        margin: 1% 9.1% 0 -4.1%;
        position: relative;
        left:55px;
      }
    
      /*
            PROJECTS
      */
  
      .rsvp-website-link{
        left:165px;
        font-size: 35px
      }
  
      .rsvp-github-link{
        font-size: 35px;
        top:4px;
      }
  
      .rsvp-description{
        font-size: 30px;
      }
  
      /*
    ============================
            CONTACT
    ===========================
    */


      .contact-header{
        font-size: 70px
      }

      .contact-me-input1,
      .contact-me-input2{
        padding:15px;
      }
  
    
      .contact-submit-button{
        margin:0 0 0 0%;
        right:350px;
        top:55px;
        padding: .2% 3%
      }
    
      .contact-reset-button{
        margin:0;
        top:10px;
        right:350px;
        padding:.3% 3%
      }
    
      /*
      =======================
              FOOTER
      =======================
      */
      
      .fa-google-plus-square{
        margin-left: 7%;
        font-size: 70px
      } 
      
      .github{
         margin:0 0 0 25%;
         font-size: 70px;
      }
  
      .fa-linkedin-square{
        margin:0 0 0 25%;
        font-size: 70px;
      }
  
      .fa-twitter-square{
        margin:0 0 0 21%;
        font-size: 70px;
      }
  
      .footer-text{
       margin-left: 47%
      }
   }



   /*
   =====================================
                XL PCs
    ====================================
   */



   @media(min-width:2000px){
    a{
      margin:0 0 0 16.5%
    }

    .navbar a{
      font-size: 30px
    }
  
     /*
    ============================
                HOME
    ============================
    */
  
  
    .hello-header{
      margin: 5% 0 0 33.5%;
      font-size: 60px;
    }
  
    .name-header{
      margin:-3.7% 0 0 48.3%;
      font-size: 60px;
    }
    
    .full-stack-header{
      margin:3% 0 0% 38.5%;
      font-size: 50px;
    }
  
    .resume{
      margin:4% 0 0 40.7%;
      font-size: 30px;
    }
  
    .github-profile{
      margin:4% 0 0 43%;
      font-size: 30px
    }
  
    .arrow{
      margin:5% 0 0 29.4%;
      font-size: 90px;
    }
  
  /*
  ================================
              ABOUT
  ================================
  */
  
  
    .about-header{
      margin:9% 0 0 43%;
      font-size: 100px
    }
  
    .about-hr{
      margin: 0% 0 5% 35.4%;
      width: 30%
    }

    .intro{
      font-size: 35px
    }

    /*
        STACK
    */


    .tech-stack-ul li{
      width: 45%;
      margin: 1% 9.1% 0 -4.1%;
      position: relative;
      left:55px;
    }
  
    /*
          PROJECTS
    */


    .projects-header{
      font-size: 100px;
    }

    .rsvp-h1{
      font-size: 80px
    }

    .rsvp-website-link{
      left:275px;
      font-size: 35px
    }

    .rsvp-github-link{
      font-size: 35px;
      top:4px;
    }

    .rsvp-description{
      font-size: 30px;
    }

    /*
  ============================
          CONTACT
  ===========================
  */


    .contact-header{
      font-size: 100px
    }
  
    .contact-submit-button{
      margin:0 0 0 0%;
      right:400px;
      top:55px;
      padding: .2% 3%
    }
  
    .contact-reset-button{
      margin:0;
      top:10px;
      right:350px;
      padding:.3% 3%
    }

    .contact-me-input1,
    .contact-me-input2{
      width:30%;
      padding:15px;
    }

    .contact-me-input1{
      margin-left: 2.5%
    }
  
    /*
    =======================
            FOOTER
    =======================
    */
    
    .fa-google-plus-square{
      margin-left: 7%;
      font-size: 70px
    } 
    
    .github{
       margin:0 0 0 25%;
       font-size: 70px;
    }

    .fa-linkedin-square{
      margin:0 0 0 25%;
      font-size: 70px;
    }

    .fa-twitter-square{
      margin:0 0 0 21%;
      font-size: 70px;
    }

    .footer-text{
     margin-left: 47%
    }
   }

   @media(min-width:2100px){
    .name-header{
      margin-left: 47%;
      margin-top: -3.6%
    }
   }



   @media(min-width:2200px){
    a{
      margin:0 0 0 16.5%
    }

    .navbar a{
      font-size: 30px
    }
  
     /*
    ============================
                HOME
    ============================
    */
  
  
    .hello-header{
      margin: 5% 0 0 32.5%;
      font-size: 80px;
    }
  
    .name-header{
      margin:-4.5% 0 0 50.3%;
      font-size: 80px;
    }
    
    .full-stack-header{
      margin:3% 0 0% 38%;
      font-size: 60px;
    }
  
    .resume{
      margin:4% 0 0 38.7%;
      font-size: 40px;
    }
  
    .github-profile{
      margin:4% 0 0 41%;
      font-size: 40px
    }
  
    .arrow{
      margin:5% 0 0 28.4%;
      font-size: 90px;
    }
  
  /*
  ================================
              ABOUT
  ================================
  */
  
  
    .about-header{
      margin:9% 0 0 43%;
      font-size: 110px
    }
  
    .about-hr{
      margin: 0% 0 5% 35.4%;
      width: 30%
    }

    .intro{
      font-size: 35px
    }

    /*
        STACK
    */


    .tech-stack-ul li{
      width: 45%;
      margin: 1% 9.1% 0 -4.1%;
      position: relative;
      left:105px;
    }
  
    /*
          PROJECTS
    */


    .projects-header{
      font-size: 100px;
    }

    .rsvp-h1{
      font-size: 80px
    }

    .rsvp-website-link{
      left:275px;
      font-size: 40px
    }

    .rsvp-github-link{
      font-size: 40px;
      top:4px;
    }

    .rsvp-description{
      font-size: 40px;
    }

    /*
  ============================
          CONTACT
  ===========================
  */


    .contact-header{
      font-size: 100px;
      margin:0 0 3% .5%
    }
  
    .contact-submit-button{
      margin:0 0 0 0%;
      right:500px;
      top:55px;
      padding: .2% 3%
    }
  
    .contact-reset-button{
      margin:0;
      top:10px;
      right:350px;
      padding:.3% 3%
    }

    .contact-me-input1,
    .contact-me-input2{
      width:30%;
      padding:15px;
    }

    .contact-me-input1{
      margin-left: 4%
    }
  
    /*
    =======================
            FOOTER
    =======================
    */
    
    .fa-google-plus-square{
      margin-left: 7%;
      font-size: 70px
    } 
    
    .github{
       margin:0 0 0 25%;
       font-size: 70px;
    }

    .fa-linkedin-square{
      margin:0 0 0 25%;
      font-size: 70px;
    }

    .fa-twitter-square{
      margin:0 0 0 21%;
      font-size: 70px;
    }

    .footer-text{
     margin-left: 44%;
     font-size: 40px
    }
   }

   @media(min-width:2300px){
    .name-header{
      margin-left: 49%;
      margin-top: -4.2%
    }
   }


   @media(min-width:2400px){
    a{
      margin:0 0 0 15%
    }

    .navbar a{
      font-size: 45px
    }
  
     /*
    ============================
                HOME
    ============================
    */

    .home-div{
      padding-bottom: 45%
    }
  
  
    .hello-header{
      margin: 5% 0 0 28.5%;
      font-size: 110px;
    }
  
    .name-header{
      margin:-5.2% 0 0 49.3%;
      font-size: 110px;
    }
    
    .full-stack-header{
      margin:3% 0 0% 34%;
      font-size: 90px;
    }
  
    .resume{
      margin:4% 0 0 37%;
      font-size: 50px;
    }
  
    .github-profile{
      margin:4% 0 0 39.5%;
      font-size: 50px
    }
  
    .arrow{
      margin:5% 0 0 27.4%;
      font-size: 150px;
    }
  
  /*
  ================================
              ABOUT
  ================================
  */
  
  
    .about-header{
      margin:9% 0 0 41%;
      font-size: 140px
    }
  
    .about-hr{
      margin: 0% 0 5% 33.4%;
      width: 30%
    }

    .intro{
      font-size: 50px
    }

    /*
        STACK
    */


    .tech-stack-ul li{
      width: 45%;
      margin: 1% 9.1% 0 -4.1%;
      position: relative;
      padding:1%;
      font-size: 50px;
      left:105px;
    }
  
    /*
          PROJECTS
    */


    .projects-header{
      font-size: 140px;
    }

    .rsvp-h1{
      font-size: 120px
    }

    .rsvp-website-link{
      left:275px;
      top:60px;
      font-size: 50px
    }

    .rsvp-github-link{
      font-size: 50px;
      top:0x;
    }

    .rsvp-description{
      font-size: 50px;
    }

    /*
  ============================
          CONTACT
  ===========================
  */


    .contact-header{
      font-size: 120px;
      margin:0 0 3% .5%
    }
  
    .contact-submit-button{
      margin:0 0 0 0%;
      right:600px;
      top:95px;
      padding: .2% 3%;
      font-size: 60px;
    }
  
    .contact-reset-button{
      margin:0;
      top:10px;
      right:350px;
      padding:.3% 3%;
      font-size: 60px
    }

    .contact-me-input1,
    .contact-me-input2{
      width:30%;
      padding:15px;
    }

    .contact-me-input1{
      margin-left: 4%
    }
  
    /*
    =======================
            FOOTER
    =======================
    */
    
    .fa-google-plus-square{
      margin-left: 7%;
      font-size: 90px
    } 
    
    .github{
       margin:0 0 0 25%;
       font-size: 90px;
    }

    .fa-linkedin-square{
      margin:0 0 0 25%;
      font-size: 90px;
    }

    .fa-twitter-square{
      margin:0 0 0 21%;
      font-size: 90px;
    }

    .footer-text{
     margin-left: 46%
    }
   }